.hidden {
  display: none;
  
}
body {background-color: black;}

.yellow-text {
color: yellow;
}

p {
  font-size: 20px;
  font-family: Verdana, sans-serif;
  color: grey;
  
}

li {
font-size: 18px;
color: grey;

}
ol {
font-size: 18px;
color: grey;

}
h1 {
font-size: 48px;
color: grey;
}
th, td {
padding: 15px;
text-align: left;

}

h2 {
font-size: 40px;
color: grey;
}

h3 {
font-size: 30px;
color: grey;
}

a {
  color: blue;
}

/* mouse over link */
a:hover {
  color: gray;
  background-color: lightgreen;
    }
    a:link {
      text-decoration: none;
    }
    
    a:visited {
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
    
    a:active {
      text-decoration: underline;
    }

.person-id {
  width: 400px;
  border: 2px outset black;
  border-radius: 12px;
}

#popup {
  position: fixed;
  left: 20%;
  top: 20%;
  z-index: 100;
  margin: auto;
}

.popup-inducer:hover {
  color: rgb(222,181,90)
}

.showing {
  display: block;
}

#text-wrapper {
  width: 60%;
  margin: auto;
  padding: 10%;
}

#customers {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#customers td, #customers th {
border: 1px solid #ddd;
 text-align: center;
padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}
#customers tr:nth-child(odd){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #04AA6D;
color: white;
}



/* Add a loading spinner to the animation */
#animation:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animation for the loading spinner */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
